.introduce
  padding: 15vh 0
  height: 100vh
  overflow: hidden
  background: rgb(45,40,28)
  h1
    text-align: center
    color: #b9b6b6
    font-size: 60px
  h2
    text-align: center
    color: #b9b6b6
    font-size: 30px
  img
    height: 600px
    margin: 200px 300px
