.video
  height: 100vh
  overflow: hidden
  position: relative
  .videoPlay
    width: 100%
    z-index: 0
  h1
    position: absolute
    top: calc(50% - 10%)
    left: 0
    color: white
    z-index: 1
    font-size: 100px
